body {
backgrond-image:linear-gradiente(
180 deg,
#6495ed 5%,
#00fff 20%,
#008b8b 60%,
#00cedi 95%);

margin: 0;
min-height: 100vh;
width: 100%;}


main {
align-itens: center;
displai:flex;
height: 100vh;
justify-content:center;
position:relative;}

main > setion img {
largura 30 px
width: 300px}

main > seton botton {
background-color:#483d8b;
border:none;
border-radius:4px;
color:with}
font-family:euclideboud
fonte-size:12px;
font-
;
