body {
backgrond-image:linear-gradiente(
180 deg,
#6495ed 5%,
#00fff 20%,
#008b8b 60%,
#00cedi 95%);

margin: 0;
min-height: 100vh;
width: 100%;}


main {
align-itens: center;
displai:flex;
height: 100vh;
justify-content:center;
position:relative;}


main > section img {
height: 300 px;
margin: 15 px 0;
width: 300 px;}

main > section botton {
background-color:#00bfff;
border:none;
border-radius: 4px;
color:white}
font-family:euclidbolde
fonte-size:18px;
font-height: 500 px;
letter spacing -0.6 px;
line-height: 20 px;
bext-trasform: uppercase;
padding: 9px 23px}
